<div class="container">
    <div [hidden]="!askForEmail" id="email-ask-overlay">
        <form id="email-ask-form" (ngSubmit)="resetPassword()">
            <h2 class="email-ask-title">Enter your E-mail</h2>
            <input placeholder="example@gmail.com" class="input-box-email" name="email" [(ngModel)]="emailInput" type="email" />
            <button class="submit-btn-email" type="submit">Submit</button>
        </form>
    </div>
    <img class="logo-blue-top" [src]="themeService.onlineAssets['blue_logo_shadow']" [ngStyle]="{'width': phoneDisplay ? '50%' : '33vw'}"/>
    <img class="wave-banner" [src]="themeService.onlineAssets['vertical_wave']"/>
    <div class="blue-banner-completion" [hidden]="phoneDisplay"></div>
    <div id="main-div" [ngStyle]="{'padding-bottom': phoneDisplay ? '500px' : '0'}">
        <div [hidden]="phoneDisplay" id="external-signup">
            <button [hidden]="phoneDisplay" (click)="oauthSignIn()" class="ext-login-btn"><img class="login-with-logo" [src]="themeService.onlineAssets['google_logo']"/>Continue with Google</button>
            <button [hidden]="phoneDisplay" (click)="twitterOauthSignIn()" class="ext-login-btn"><img class="login-with-logo" [src]="themeService.onlineAssets['twitter_logo']"/>Continue with X</button>
            <button [hidden]="phoneDisplay" (click)="githubOauthSignIn()" class="ext-login-btn"><img class="login-with-logo" [src]="themeService.onlineAssets['github_logo']"/>Continue with Github</button>
            <button [hidden]="phoneDisplay" (click)="discordOauthSignIn()" class="ext-login-btn"><img class="login-with-logo" [src]="themeService.onlineAssets['discord_logo']"/>Continue with Discord</button>
            <button [hidden]="phoneDisplay" (click)="spotifyOauthSignIn()" class="ext-login-btn"><img class="login-with-logo" [src]="themeService.onlineAssets['spotify_logo']"/>Continue with Spotify</button>
            <h2 [hidden]="phoneDisplay" class="not-member-yet big-margin-t">Not a member yet ?</h2>
            <button [hidden]="phoneDisplay" class="submit-btn small-margin-t" (click)="navigateToPage('/register')">Sign up instead</button>
        </div>
        <h1 class="italic" [hidden]="phoneDisplay">Or</h1>
        <form id="signup-box" (ngSubmit)="loginSubmit()" [ngStyle]="{'width': phoneDisplay ? '80%': '27%', 'top': phoneDisplay ? '250px' : '5%'}">
            <h1 class="weight-light title-signup">Hello there,<br/>Welcome Back !</h1>
            <button [hidden]="!phoneDisplay" (click)="oauthSignIn()" class="ext-login-btn" [ngStyle]="{'width': '80%'}"><img class="login-with-logo" [src]="themeService.onlineAssets['google_logo']"/>Continue with Google</button><br/>
            <button [hidden]="!phoneDisplay" (click)="twitterOauthSignIn()" class="ext-login-btn" [ngStyle]="{'width': '80%'}"><img class="login-with-logo" [src]="themeService.onlineAssets['twitter_logo']"/>Continue with X</button><br/>
            <button [hidden]="!phoneDisplay" (click)="githubOauthSignIn()" class="ext-login-btn" [ngStyle]="{'width': '80%'}"><img class="login-with-logo" [src]="themeService.onlineAssets['github_logo']"/>Continue with Github</button><br/>
            <button [hidden]="!phoneDisplay" (click)="discordOauthSignIn()" class="ext-login-btn" [ngStyle]="{'width': '80%'}"><img class="login-with-logo" [src]="themeService.onlineAssets['discord_logo']"/>Continue with Discord</button><br/>
            <button [hidden]="!phoneDisplay" (click)="spotifyOauthSignIn()" class="ext-login-btn" [ngStyle]="{'width': '80%'}"><img class="login-with-logo" [src]="themeService.onlineAssets['spotify_logo']"/>Continue with Spotify</button><br/>
            <label class="weight-light input-label" for="email">Email</label><br/>
            <input class="input-box" name="email" [(ngModel)]="formEmail" type="email" />
            <label class="weight-light input-label" for="password">Password</label><br/>
            <input class="input-box" name="password" [(ngModel)]="formPass" type="password" />
            <div class="flex-div-space-between">
                <h2 class="forgot-pass-text" (click)="openEmailModal()">Forgot your password ?</h2>
            </div>
            <h2 class="error-message" [hidden]="errorMsg === undefined">{{ errorMsg }}</h2>
            <button type="submit" class="submit-btn">Login</button>
            <br/>
            <h2 class="not-member-yet big-margin-t" [hidden]="!phoneDisplay">Not a member yet ?</h2>
            <button [hidden]="!phoneDisplay" class="submit-btn small-margin-t" (click)="navigateToPage('/register')">Sign up</button>
        </form>
    </div>
    <button class="home-redirect-btn" (click)="navigateToPage('/')">Home</button>
</div>